#homebutton {
	background-color: white;
	color: black;
	border: 0;
	transition: color 0.3s;
	transition: background-color 0.3s;
}
#homebutton:hover {
	background-color: #b6426b;
	color: white;
	transition: color 0.3s;
	transition: background-color 0.3s;
}
.video-container {
	position: relative;
	padding-bottom: 52%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
}
.primaryLink {
	padding: 20px 20px;
	color: hsl(0, 0%, 100%);
	transition: color 0.3s;
}
.primaryLink:hover {
	color: #b6426b;
	transition: color 0.3s;
}
.is-horizontal-center {
	justify-content: center;
}
.fadeIn {
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
@media (max-width: 1024px) {
	#emailInput {
		width: 250px;
	}
	#emailColumns {
		padding: 0px 5%;
	}
}
@media (max-width: 768px) {
	#emailInput {
		width: 55vw;
	}
	.center {
		margin: 0 auto;
	}
	#homebutton {
		margin-bottom: 10px;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
