#hero {
	box-shadow: 0px 5px 20px hsl(0, 0%, 80%);
}
#topBtn {
	display: none;
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 25px;
	right: 40px;
	z-index: 99;
	border-radius: 50%;
	border: none;
	outline: none;
	color: white;
	background-color: #b6426b;
	transition: background-color 0.3s;
	cursor: pointer;
	font-size: 18px;
}

#topBtn:hover {
	background-color: #b6426b;
	transition: background-color 0.3s;
}
.column.sameHeight {
	display: inline-flex;
}

.column.sameHeight > div {
	width: 100%;
}
.rounded {
	border-radius: 6px;
}
.video-container {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}
.video-container iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
.primaryLink {
	padding: 30px 30px;
	color: #fff;
	transition: color 0.3s;
}
.primaryLink:hover {
	color: #b6426b;
	transition: color 0.3s;
}
@media (max-width: 768px) {
	.center {
		margin: 0 auto;
	}
	.column.sameHeight {
		display: flex;
	}

	.column.sameHeight > div {
		width: 100%;
	}
	#topBtn {
		right: 10px;
		bottom: 25px;
	}
}
